div.demoreel {
    display: block;
    margin: auto;
    padding: 2rem;
    text-align: center;
    max-width: 66.666%;
    min-width: 44%;
    min-height: 20rem;
    max-height: 25rem;
    background-color: var(--dark-primary-background);
    border-radius: 1rem;
    box-shadow: 0.25rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

div.demoreel * {
    text-align: center;
}

div.demoreel * {
    color: var(--main-text-color);
}

div.demoreel p a:hover {
    color: lightcoral;
}